/*
    @theme Solarized-dark
    @override-placeholders html, css, js, php, python
*/

@base {
    color: #839496;
    background-color: #002b36;
}

* {
    spell-check: disabled;
}

/* Standard
----------------------------------------------------*/
literal.string {
	color: #2aa198;
	spell-check: enabled;
}

* > string.modifier {
	color: #66D9EF;
	font-style: italic;
}

literal.regex {
    color: #d33682;
}

literal.numeric {
    color: #2aa198;
}

literal.keyword.constant {
	color: #F92672;
}

literal.keyword.bool {
    color: #859900;
}

literal.keyword.nothing {
    color: #859900;
}

literal.escape {
    color: #dc322f;
}

identifier.function > name {
    color: #268bd2;
}

identifier.type {
    color: #93a1a1;
    font-weight: bold;
}

identifier.variable.parameter {
	color: #839496;
}

identifier.variable.named-parameter {
	color: #859900;
}

identifier.variable.named-parameter > name {
	font-style: italic;;
}

identifier.variable.instance {
    color: #839496;
}

keyword.control {
    color: #859900;
}

keyword.definition {
    color: #859900;
    font-style: italic;
}

keyword.modifier {
    color: #859900;
}

keyword.constant.other {
	color: #d33682;
}

metadata {
    color: #586e75;
}

metadata.comment.documentation {
	color: #2aa198;
	spell-check: enabled;
}

operator {
    color: #839496;
}

/* For non-standards */

/* @group CSS */

selector.css {
	color: #859900;
}

delimeter.css {
    color: #268bd2;
}

property-name {
	color: #b58900;
}

zkeyword.other.zunit.css {
	color: #2aa198;
}

zconstant.zother.color.rgb-value.css {
	color: #2aa198;
}

zconstant.nzumeric.css {
	color: #2aa198;
}
/* @end */

/* @group Python */

python container name, python function name {
	color: #268bd2;
}

python container parameters name {
	color: #839496;
}

python variable type {
	color: #839496;
}

python keyword.control.import {
    color: #cb4b16;
}

}
/* @end */

/* @group HTML */

tag > name {
	color: #268bd2;
	font-weight: bold;
}

tag > attribute-name {
	color: #839496;
}

tag > attribute-value.string.quoted, tag > attribute-value.string.quoted punctuation.definition {
	color: #2aa198;
}

punctuation.definition {
    color: #839496;
}

tag.preprocessor.xml.html, tag.preprocessor.xml.html entity.name {
    color: #839496;
    font-style: italic;
}

tag.preprocessor.xml.html punctuation.definition {
    color: #839496;
    font-style: normal;
}


comment.block.html, comment.block.html punctuation.definition {
    color: #839496;
}

comment.block.html invalid.illegal.bad-comments-or-CDATA.html {
    color: #dc322f;
}

tag.doctype, tag.doctype entity.name {
    color: #839496;
    font-weight: normal;
    font-style: italic;
}

tag.doctype punctuation.definition {
    color: #839496;
    font-style: normal;
}

tag.self-closing.cdata {
    color: #839496;
}

embedded-style.html entity.name, embedded-javascript.html entity.name {
    font-style: italic;
    font-weight: normal;
}

constant.character.entity.html {
    color: #859900;
}

invalid.illegal.bad-ampersand.html {
    color: #dc322f;
}
/* @end */

/* @group JavaScript */

support {
    color: #b58900;
}

constant.language.js, constant.language.null.js, constant.language.boolean.true.js, constant.language.boolean.false.js {
    color: #b58900;
}

keyword.control.js, keyword.operator.js {
    color: #859900;
}

meta.brace.curly, meta.brace.square.js {
    color: #268bd2;
}

string.regexp.js, string.regexp.js punctuation.definition{
    color: #2aa198;
}

string.regexp.js constant.character.escape.js {
    color: #6c71c4;
}

variable.language.js {
    color: #268bd2;
}

storage.type.js {
    color: #268bd2;
}

/* @end */